@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: whitesmoke;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff5e00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;
}

a{
    font-weight: 900;  
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff5e00;
}

.h2-italic{
    font-weight: 100;
    font-size: 30px;
}