@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/sfondo.jpg);
    background-size: cover;
    background-position: center;
    position:sticky;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    padding: 16px;
}

p{
    font-size: large;
}

.logo{
    width: 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight:bolder;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff5e00;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    
}

nav ul li a:hover::after{
    width: 100%;
}

a{
    font-weight: 900;  
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff5e00;
}

.h2-italic{
    font-weight: 100;
    font-size: 30px;
    margin-top: 20px;
}


/* --------- ABOUT section --------- */


#about{
    padding: 80px 0;
    color: lightgrey;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 25px;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 5px;
    background: #ff5e0097;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}

.tab-contents ul li span{
    color:#ff782a;
    font-size: 25px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* --------- SKILLS section --------- */


#skills{
    padding: 30px 0;

}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background: rgb(95, 95, 95);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 30px;
    margin-bottom: 20px;
}

.skills-list div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block; 
}

.skills-list div:hover{
    background:#ff782a;
    transform: translateY(-10px);
}


/* ---------  PROJECT section --------- */


#project{
    padding: 50px 0;

}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.project:hover img{
    transform: scale(1.04);
}

.project:hover .layer{
    height: 40%;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), #a4a4a49b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    font-size: 30px;
    color: black;
    margin-bottom: 20px;

}

.layer p{
    font-size: 22px;
    color: black;
    align-items: center;
    flex-direction: column;
}

.layer a{
    margin-top: 20px;
    color:black;
    text-decoration: none;
    font-size: 30px;
}
.layer .code{
    font-size: 20px;
    color:#ff5e00;

}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
  }
  
.btn-show-all {
    font-size: 20px;
    transition: 0.3s;
}
  
.btn-show-all:hover {
    background:#ff782a;
}
  
.btn-show-all:hover > i {
    transform: translateX(2px);
}
  
.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s;
}


/* ---------  CONTACT section --------- */


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}
.contact-left p{
    font-size: 25px;
}
.contact-left p i{
    color:#ff782a;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: lightgray;
    display: inline-block; 
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:#ff782a;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: black;
    transition: 0.3s;
}

.btn.btn2:hover{
    background: #ff782a;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: lightgray;
    padding: 15px;
    margin: 15px 0;
    color: #ff5e00;
    font-size: 25px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}


/* ---------  RESPONSIVE CSS --------- */



nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(img/sfondo.jpg);
    }

    .header-text{
        margin-top: 100%;
        font-size: 40px;

    }

    .header-text h1{
        font-size: 80px;
    }

    nav .fa-solid{
        display: block;
        font-size: 30px;
    }

    nav ul{
        background: #ff5e00;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 40px;
    }

    .about-col-2{
        font-size: 18px;
    }

    .tab-links{
        font-size: 20px;
        margin-right: 50px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

}

#msg{
    color: #ff5e00;
    margin-top: -40px;
    display: block;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 20px;
    left: 95%;
}

#myBtn i{
    font-size: 20px;
}
